<section>
  <div class="page-header">
    <img class="img-thumbnail user-profile-picture" ng-if="vm.car.image == ''" src="/modules/cars/client/img/car/stock.png">
    <img class="img-thumbnail user-profile-picture" ng-if="vm.car.image != ''" ng-src="/modules/cars/client/img/car/uploads/{{car.image}}">
 
    <h1 ng-bind="vm.car.name"></h1>

    <h3>Profit: {{ vm.getTotalProfit() | currency:'€':2 }}</h3>
  </div>
 
  <div>
    <table class="table table-responsive table-striped">
      <tr>
        <th>Customer</th>
        <th>Date rented</th>
        <th>Date released</th>
        <th>Duration</th>
        <th>Profit</th>
      </tr>
      <tr ng-repeat="rent in vm.rents">
        <td ng-bind="rent.customer.displayName"></td>
        <td ng-bind="rent.dateStarted | date:'MM.dd.yyyy HH:mm'"></td>
        <td ng-bind="rent.dateEnded | date:'MM.dd.yyyy HH:mm'"></td>
        <td ng-bind="rent.duration"></td>
        <td ng-bind="rent.profit | currency:'€':2"></td>
      </tr>
    </table>
  </div>

</section>
