<section>
  <div class="page-header">
    <h1>{{vm.tariffGroup._id ? 'Edit Tariff Group' : 'New Tariff Group'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.tariffGroup._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.tariffGroupForm" class="form-horizontal" ng-submit="vm.save(vm.form.tariffGroupForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="class">Class</label>
          <input name="class" type="number" value="1" min="1" ng-model="vm.tariffGroup.class" id="class" class="form-control" placeholder="Class" required autofocus>
          <div ng-messages="vm.form.tariffGroupForm.class.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tariff class is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="tariffs">Tariffs</label>
          <select name="tariffs" multiple="true" size="5" ng-model="vm.tariffGroup.tariffs" id="tariffs" class="form-control" placeholder="Tariffs" required>
            <option ng-repeat="tariff in vm.tariffs track by $index" value="{{tariff.id}}">Price: {{vm.convertPrice(tariff.price)}} €/s Activates at: <span>{{tariff.activeAfter}}</span>s</option> 
          </select>
          <div ng-messages="vm.form.tariffGroupForm.tariffs.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tariff is required.</p>
          </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">{{vm.tariffGroup._id ? 'Update' : 'Create'}}</button>
          </div>
      </fieldset>
    </form>
  </div>
</section>
